/* Font*/

@font-face {
    font-family: 'ambleregular';
    src: url('fonts/Amble-Regular-webfont.eot');
    src: url('fonts/Amble-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Amble-Regular-webfont.woff2') format('woff2'),
         url('fonts/Amble-Regular-webfont.woff') format('woff'),
         url('fonts/Amble-Regular-webfont.ttf') format('truetype'),
         url('fonts/Amble-Regular-webfont.svg#ambleregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

*
{
  font-family: Calibri, Impact, Verdana, Arial, serif;
  text-align: justify;

}

h1
{
	text-align: center;
	font-weight: bold;
	color: grey;
}

h2
{
	color: white;
	background-color: rgb(201,193,193);
	padding: 3px;

	text-align: center;
	text-transform: uppercase;
	font-size: 1em;
}

img
{
	float: right;
	box-shadow: 0px 0px 2px 2px black;
}

#page1
{
	display: flex;
}

#blocpage
{
	display: flex;
	flex-direction: column;

}

#hautdepage
{
	text-align: center;
	font-size: 2em;
	font-style: bold;
}

#liseret
{   
    width: 6%;
    margin-right: 3%;
    height: 1100px;
    background-image: url('image/lodyas.png');
    border-radius: 10px;
}

#bigsection
{
	display: flex;
	justify-content: space-between;

}

#formation
{
	width: 30%;

}

#experience
{
	width: 50%;
}

#competence
{
	width: 20%;
}